In [116]:
include("locations.jl")

un2019countrynames (generic function with 1 method)

In [2]:
using DataFrames

In [11]:
using CSV

In [28]:
df = DataFrame(CSV.File(getfilepath("witt_population", "recode")))

310×3 DataFrame
 Row │ dim      name                         code
     │ String7  String                       Int64
─────┼─────────────────────────────────────────────
   1 │ ageno    All                              0
   2 │ ageno    0--4                             1
   3 │ ageno    5--9                             2
   4 │ ageno    10--14                           3
   5 │ ageno    15--19                           4
   6 │ ageno    20--24                           5
   7 │ ageno    25--29                           6
   8 │ ageno    30--34                           7
   9 │ ageno    35--39                           8
  10 │ ageno    40--44                           9
  11 │ ageno    45--49                          10
  ⋮  │    ⋮                  ⋮                 ⋮
 301 │ isono    Palau                          585
 302 │ isono    American Samoa                  16
 303 │ isono    Cook Islands                   184
 304 │ isono    French Polynesia               258
 305 │ isono    Niue                           570
 306 │ isono    Samoa                          882
 307 │ isono    Tokelau                        772
 308 │ isono    Tonga                          776
 309 │ isono    Tuvalu                         798
 310 │ isono    Wallis and Futuna Islands      876
                                   289 rows omitted

In [117]:
un2019countrynames()

235-element Vector{String}:
 "Burundi"
 "Comoros"
 "Djibouti"
 "Eritrea"
 "Ethiopia"
 "Kenya"
 "Madagascar"
 "Malawi"
 "Mauritius"
 "Mayotte"
 "Mozambique"
 "Réunion"
 "Rwanda"
 ⋮
 "France"
 "Germany"
 "Liechtenstein"
 "Luxembourg"
 "Monaco"
 "Netherlands"
 "Switzerland"
 "Bermuda"
 "Canada"
 "Greenland"
 "Saint Pierre and Miquelon"
 "United States of America"